@import "../../../global.scss";

.shade {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal-container {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 900px;
  padding: 25px 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.548);

  @include mobile {
    width: 94%;
    padding: 25px 25px;
  }

  .delete-modal-header {
    margin-bottom: 15px;
  }

  .post-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  .post-author {
    text-align: center;
    font-size: 18px;
    padding: 10px 0px;
  }
  .post-date {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    color: gray;
    font-style: italic;
  }
}

.buttons-container {
  display: flex;
  padding-top: 20px;
  width: 300px;
  margin: auto;
}

.delete-button {
  background-color: $primaryColor;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 7px 15px;
  border-radius: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100px;
  margin: 5px auto;
  color: white;

  &:hover {
    background-color: crimson;
  }
}

.cancel-button {
  background-color: $primaryColor;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 7px 15px;
  border-radius: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100px;
  margin: 5px auto;
  color: white;

  &:hover,
  &:focus {
    background-color: $primaryColorFaded;
  }
}
